.navbar-brand {
	font-size: 3.5em;
	line-height: 55px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 0.5em;
}

header {
	background-color: #175569;	
}
.navlist {
	padding-top: 4em;
	font-size: 1.3em;
	letter-spacing: .5px;
}

#section1 {
	text-align: center;
	font-size: 1.5em;
	background: linear-gradient(to right, #54a877, #fcedcf);
	padding: 2em;
}

h4 {
	padding-bottom: 0.5em;
	font-size: 1.6em;
	font-weight: 400;
}

#nav li {
	display: inline-block;
	margin: 0 10px;
}

#nav {
	text-align: right;
}

#nav a {
	text-decoration: none;
}

footer {
	background-color: #175569;
	margin: 0;
	padding: 40px;
}

#nav ul {
	margin: 0;
	padding-right: 220px;
}

#nav a {
	color: white;
}

#copy {
	float: left;
	padding-left: 225px;
	color:  #54a877;
}