
body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture30/after/images/restaurant-logo_large.png);
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list a{
  color: #951C49;
  text-align: center;
  font-size: 1.5em;
}
 
#nav-list span{
  vertical-align: center;
  padding-right: 5px;
}

#nav-list a:hover{
  background: #E7E7E7;
}

#del {
  text-align: right;
  font-size: 0.7em;
  color: #557c3e;
  margin: 0;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: center;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: center;
  padding-right: 15px;
}

.container button.navbar-toggler{
  border: 1px solid #61122f;
  margin-bottom: 15px;
}

.container button{
  float: right;
}

button:hover {
  background: #E7E7E7;
}


.jumbotron {
      padding: 4rem 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: var(--bs-light);
      border-radius: .3rem;
    }

/*home page*/
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture35/after/images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture35/after/images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;

  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

#phone-large {
  background: #f6b319;
  text-align: center;
  padding: 0 10px 0 10px;
  border: 1px solid white;
  margin-top: 10px;
  border-radius: 10px;
}

#phone-number-link {
  text-decoration: none;
  }

#phone-large h1{
  padding-top: 5px;
  color: #61122f;
}


/*end home page*/
/*menu category*/

.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title {
  margin-top: 10px;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
  margin: auto;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .8em;
  font-style: italic;
}

#extra-info {
  padding-bottom: 2em;
}
}
/* END SINGLE CATEGORY PAGE */

/*footer*/

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
} 

@media (min-width: 1200px) {
  #nav-list li{
    margin-bottom: 4em;
  }

  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_1200.jpg);
    height: 675px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

  
}


 @media (min-width: 992px) and (max-width: 1199px) {
  #nav-list li{
    margin-bottom: 1em;
  }

  #logo-img {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture30/after/images/restaurant-logo_medium.png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_992.jpg);
    height: 558px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

  .navbar-brand {
    font-size: 1em;
  }

 }

@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_768.jpg);
    height: 432px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

  .container button.navbar-toggler {
    margin-bottom: 3.7em;
  }

  #logo-img {
    width: 100px;
  }
  

  
}


@media (max-width: 767px) {
  .container button.navbar-toggler {
    margin-bottom: 1.1em;
  }


  #logo-img {
    width: 0px;
    height: 0px;
  }

  #header-nav {
    height: 125px;
  }

  .navbar-brand h1 {
    font-size: 1.3em;

  }

  #nav-list li {
    background: #f6b319;
  }

  #phone {
    margin-top: 0px;
    padding-top: 10px;
  }

  #nav-list {
    margin-top: 3px;
  } 

  #nav-list a {
    padding: 5px;
  }

  .container .jumbotron {
    padding: 0;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #F0C1F;
  }

  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  /*footer*/
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.9em;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
    border: 0.5px solid white;
    margin: 10px auto;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;
  }
}


@media (max-width: 500px) {
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .navbar-brand h1 {
    font-size: 5vw;
  }

  #nav-list li {
    height: 50px;
  }

  #nav-list a {
    font-size: 80%;
  }

  #del {
    text-align: center;
  }

  #phone-large h1 {
    font-size: 1.3em;
    padding-top: 5px;
  }

  

}


body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture30/after/images/restaurant-logo_large.png);
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list a{
  color: #951C49;
  text-align: center;
  font-size: 1.5em;
}
 
#nav-list span{
  vertical-align: center;
  padding-right: 5px;
}

#nav-list a:hover{
  background: #E7E7E7;
}

#del {
  text-align: right;
  font-size: 0.7em;
  color: #557c3e;
  margin: 0;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: center;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: center;
  padding-right: 15px;
}

.container button.navbar-toggler{
  border: 1px solid #61122f;
  margin-bottom: 15px;
}

.container button{
  float: right;
}

button:hover {
  background: #E7E7E7;
}


.jumbotron {
      padding: 4rem 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: var(--bs-light);
      border-radius: .3rem;
    }

/*home page*/
#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background: url('https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture35/after/images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture35/after/images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;

  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}


/*end home page*/
/*menu category*/
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
  margin: auto;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F; 
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .8em;
  font-style: italic;
}

#extra-info {
  padding-bottom: 2em;
}
}
/* END SINGLE CATEGORY PAGE */

/*footer*/

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
} 

@media (min-width: 1200px) {
  #nav-list li{
    margin-bottom: 4em;
  }

  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_1200.jpg);
    height: 675px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

  
}


 @media (min-width: 992px) and (max-width: 1199px) {
  #nav-list li{
    margin-bottom: 1em;
  }

  #logo-img {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture30/after/images/restaurant-logo_medium.png) no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_992.jpg);
    height: 558px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

 }

@media (min-width: 768px) and (max-width: 991px) {
  .container .jumbotron {
    background: url(https://raw.githubusercontent.com/jhu-ep-coursera/fullstack-course4/master/examples/Lecture34/after/images/jumbotron_768.jpg);
    height: 432px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
  }

  .container button.navbar-toggler {
    margin-bottom: 3.7em;
  }
}


@media (max-width: 767px) {
  .container button.navbar-toggler {
    margin-bottom: 1.1em;
  }


  #logo-img {
    width: 0px;
    height: 0px;
  }

  #header-nav {
    height: 125px;
  }

  .navbar-brand h1 {
    font-size: 1.3em;

  }

  #nav-list li {
    background: #f6b319;
  }

  #phone {
    margin-top: 0px;
    padding-top: 10px;
  }

  #nav-list {
    margin-top: 3px;
  } 

  #nav-list a {
    padding: 5px;
  }

  .container .jumbotron {
    padding: 0;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #F0C1F;
  }

  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  /*footer*/
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.9em;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
    border: 0.5px solid white;
    margin: 10px auto;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;
  }
}


@media (max-width: 500px) {
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .navbar-brand h1 {
    font-size: 5vw;
  }

  #nav-list li {
    height: 50px;
  }

  #nav-list a {
    font-size: 80%;
  }

  #del {
    text-align: center;
  }

}